parameters:
    env(JAVA_SERVICE_URL): 'http://java-service:8080'

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    # OpenTelemetry Configuration
    App\OpenTelemetry\TracerProviderFactory:
        public: true

    OpenTelemetry\API\Trace\TracerProviderInterface:
        factory: ['App\OpenTelemetry\TracerProviderFactory', 'create']

    OpenTelemetry\API\Trace\TracerInterface:
        factory: ['@OpenTelemetry\API\Trace\TracerProviderInterface', 'getTracer']
        arguments:
            - 'php-backend'
            - '1.0.0'

    # Event Subscriber for automatic tracing
    App\EventSubscriber\OpenTelemetrySubscriber:
        arguments:
            $tracer: '@OpenTelemetry\API\Trace\TracerInterface'
        tags:
            - { name: kernel.event_subscriber }